@media screen and (max-width: 1200px) {
    #main, #about, #price, #autopark, #reviews, #order, #footer {
        padding-left: 15px;
        padding-right: 15px;
    }
}

@media screen and (max-width: 1124px) {
    #main-info-images img:nth-child(2) {
        left: -45px;
    }

    #main-info-images img:first-child {
        max-width: 405px;
    }

    #price-blocks .price-block {
        max-width: 300px;
    }

}

@media screen and (max-width: 1020px) {
    #main #main-container {
        padding-bottom: 0;
    }

    #main-info-images img:first-child {
        display: none;
    }

    #main-info-images img:nth-child(2) {
        left: -367px;
        top: -36px;
    }

    #main-info-description-items {
        max-width: 400px;
        flex-wrap: wrap;
    }

    #main-info-description-items .main-info-description-item {
        margin-bottom: 15px;
    }
}

@media screen and (max-width: 960px) {
    #price {
        margin-top: 0;
    }

    #price-blocks .price-block {
        max-width: 220px;
        padding: 20px 0;
    }

    #price #price-container .title-1 {
        margin-top: 15px;
        margin-bottom: 30px;
        font-size: 17px;
    }

    #price-blocks .price-block .price-block-cost {
        font-size: 25px;
        line-height: 25px;
        margin: 20px 0 30px 0;
    }

    #price-blocks .price-block .price-block-info {
        font-size: 14px;
    }

    .btn-1 {
        width: 180px;
    }

    #reviews {
        padding: 35px 15px;
    }

    #reviews-block {
        display: flex;
        justify-content: space-around;
    }

    #reviews-container .review-block:nth-child(3) {
        display: none;
    }

}

@media screen and (max-width: 768px) {

    #main-info-description-items {
        display: none;
    }

    #main-info {
        justify-content: center;
    }

    #main-info-description-text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    #main-info-description-text h1 {
        text-align: center;
    }

    #main-info-description-text h2 {
        margin: 0 0 561px 0;
    }

    #main-info-images img:nth-child(2) {
        left: -395px;
        top: 186px;
    }

    #main-header-menu {
        width: 350px;
        order: 3;
    }


    #price-blocks .price-block {
        max-width: unset;
    }

    #price-blocks .price-block-info .btn-1 {
        width: unset;
    }

    #order {
        padding-top: 20px;
        padding-bottom: 90px;
    }

    #order-action {
        width: unset;
        flex-direction: column;
        align-items: center;
    }

    #order-action input {
        margin-bottom: 20px;
    }

    #autopark {
        margin-top: 51px;
        margin-bottom: 51px;
    }

    .slick-dots li.slick-active button::after {
        top: 0;
    }

    .cars .car .cars-foto {
        max-width: 420px;
    }

    #map-info {
        left: 150px;
    }

    #footer {
        padding: 50px 15px;
    }

    #footer-callback {
        display: none;
    }
}

@media screen and (max-width: 726px) {
    #main-header .phone {
        display: none;
    }
}

@media screen and (max-width: 667px) {
    #main-header .phone {
        display: none;
    }
}

@media screen and (max-width: 490px) {
    #about {
        margin-top: 15px;
    }

    #about #about-container .title {
        font-size: 24px;
    }

    .about-item {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 310px;
    }

    .about-item .about-item-description {
        max-width: 320px;
        text-align: center;
    }

    .about-item .images {
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 425px) {
    #main-header-menu {
        display: none;
    }

    h1 {
        font-size: 41px;
    }

    #main-header {
        position: relative;
    }

    .rectangle {
        display: none;
    }

    #main-info-description-text h2 {
        font-size: 25px;
        margin-bottom: 421px;
    }

    #main-info-images img:nth-child(2) {
        left: -370px;
        top: 135px;
        width: 275px;
    }

    #burger {
        display: block;
        font-size: 55px;
    }

    #main-header-menu {
        position: fixed;
        top: 0;
        background: rgba(219, 55, 55, 0.8);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        z-index: 3;
        width: 100%;
        height: 100%;
        padding: 20px 0;
        display: none;
    }

    #main-header-menu a {
        margin-bottom: 15px;
    }

    #main-header .phone {
        display: none;
    }

    #main-header.menu-open #main-header-menu {
        display: flex;
    }

    .about-item .about-item-description .about-item-description-title {
        font-size: 14px;
    }

    .about-item .about-item-description .about-item-description-texts {
        font-size: 14px;
        width: 300px;
    }

    #autopark .autopark-category .category {
        padding: 13px 10px;
    }

    #reviews-container .review-block:nth-child(2), #reviews-container .review-block:nth-child(3) {
        display: none;
    }

    #order-text {
        text-align: center;
    }

    #map-info {
        position: static;
    }

    #map-info ul {
        padding: 0;
    }

    #footer {
        padding: 30px 15px;
    }

    #footer-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #footer-info-1 {
        text-align: center;
        margin-bottom: 15px;
    }


    #footer-info-1 div {
        margin: 10px 0 !important;
    }

    #footer-network {
        margin: 20px 0;
    }

    #footer-callback {
        display: block;
        margin-top: 15px;
    }
}